@import url('https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css');

@font-face {
  font-family: 'Lobster';
  src: url('Fonts/Lobster-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body, html {
  background-image: linear-gradient(to bottom, #615dad, #ffc8da) ;
  min-height: 100%;
  font-family: 'Lobster', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center; /* + */
  background-repeat: no-repeat ;
}

ul, ol {
  list-style: none;
margin: 0;
}

a {
  text-decoration: none;
  color: #ffff;
}

.container {
max-width: 80vmin /* 55vmin */;
display: flex;
flex-direction: column;
align-items: center;
margin: 40px;
border: 2px solid transparent;
border-radius: 10px;
overflow: hidden;
}

.game-container {
/* display: grid;
grid-template-rows: auto 1fr; /* Перший рядок буде автоматичної висоти, другий рядок буде займати залишок простору */
/* width: 50vw;  */
display: flex;
flex-direction: column;
align-items: center;
margin: 40px;
}

.picture {
  width: 100%;
}

.content {
  background-color: #283e50;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 30px;
  margin-top: 0;
}

.title {
  color: #ffff;
  font-size: 55px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 30px;
  justify-self: center;
}

.description {
  color: #ffff;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0 0 1em;
  text-align: center;
  line-height: 1.5;
}

.nav {
  width: 100%;
  display: flex;
 flex-direction: column;
 text-align: center;
 margin: 0;
}

.nav-ul {
  width: 100%;
  padding: 0;
}

.first-link, .second-link {
  height: 50px;
  line-height: 50px;
  border: none;
  font-family: sans-serif;
}

.first-link {
  background-color: #1fcca4;
}

.first-link:hover {
  background-color: #1cbb96;
}

.second-link {
  background-color: #0197f6;
text-align: center;
}

.second-link:hover {
  background-color: #0090e9;
}

/* GAME */
.player {
  color: #ffff;
  font-family: sans-serif;
}

.player-image:hover,
.player-image:focus{
  cursor: pointer;
}

.nav-bar{
  width: 96%;
  max-width: 80vmin;
  display: flex;
 justify-content: space-between;
 text-align: center;
 margin: 0 auto;
}

.gamer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navigation {
  display: flex;
  gap: 10px;
  align-self: center;
}

.home, 
.restart /* + */ {
  display: flex; 
  justify-content: center;  
  align-items: center;
  width: 40px;
  height: 40px;
  /* background-color: #50c699; */
  border-radius: 4px;
}

.home:hover,
.home:focus, 
.restart:hover,
.restart:focus {
  /* background-color: #27a978; */
  cursor: pointer;
}

.home {
  background-color: #50c699; /* + */
}

.home:hover, 
.home:focus {
  background-color: #27a978; /* + */ 
}

/* .restart {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 40px;
  height: 40px;
  background-color: #006edb;
  border-radius: 4px;
}
 */

.restart {
  background-color: #006edb;
}

.restart:hover,
.restart:focus {
 background-color: #2a6ab2;
}

/* Стилізуємо кнопки */
.game-play {
  /* display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr); */
  display: flex;
  flex-wrap: wrap;
  max-width: 80vmin;
  width: 80vmin;/* calc(40px * 10); */
  gap: 0;
  justify-content: center;
}

.button {
  border: 1px solid #000; 
  background-color: transparent; 
  width: calc(10% - 2px); 
  height: calc(10% - 2px); 
  aspect-ratio: 1 / 1;
  transition: background-color 0.3s;
}

.button:hover,
.button:focus {
  background-color: rgba(219, 205, 212, 0.9); 
  cursor: pointer;
}

